/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #000;

  /* fonts */
  --body-font-family: 'helvetica neue', helvetica, ubuntu, roboto, noto, sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;

}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

/* buttons */

a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal; 
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
} 


main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;    
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  padding: 64px 16px;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

@media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
  }  
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;  
  }
  
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}




/*---------------- Custom Styles --------------------*/

.button-container {
  display: flex;
}

a.button.primary {
  margin: auto;
  background-color: #eb3300;
  box-shadow: 0 5px 0 #cc2c00;
  border: 1px solid transparent;
  border-radius: 0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  padding-right: 75px;
  padding-left: 75px;
  padding-top: 15px;
  padding-bottom: 15px;
}

[data-align="center"] {
  text-align: center;
}

[data-section-status="loaded"] {
  padding: 0 !important;
}

.orora-heading-block {
  margin: 0;
  padding: 0 !important;
  text-align: center;
}

.orora-heading-block p {
  margin-top: 0;
  margin-left: 45%;
  width: 120px;
  height: 1px;
  color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #EB3300FF;
}

.orora-cookie-block {
  display: block;
  background-color: #ffffff;
  opacity: 0.8;
  margin: 0;
  font-family: Arial,sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
}

.orora-cookie-block h5 {
  font-size: 12px;
  font-weight: 400;
  margin-right: 80px;
  display: inline-block;
}

.orora-cookie-block h6 {
  display: inline-block;
  margin-right: 15px;
}

.orora-cookie-block h6 a {
  color: #ffffff;
  background-color: #000000;
  font-size: 14px;
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
}

.orora-top-scroll a.button {
  background-color: black;
  color: #ffffff;
  font-weight: 900;
  font-size: 16px;
  box-shadow: none;
  padding: 2px 10px;
  position: fixed;
  bottom: 1px;
  right: 10px;
  z-index: 110;
}

.orora-cookie-block.hidden {
  display: none;
}

.orora-cookie-block h6 a:hover {
  background: #868686;
  color: #000000;
}

.orora-cookie-block h5 a {
  color: #000000;
  font-size: 12px;
  text-decoration: underline;
  background-color: #f5f3f3;
}

.orora-cookie-block h5 a:hover {
  color: #bdbdbd;
}

.orora-cards-block {
  background-image: url(../resources/greenhouse-tile-bg.jpg);
  background-position-x: -250px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px !important;
  padding-bottom: 150px !important;
}

.orora-cards-block h3 {
  font-family: center-bold;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.orora-cards-block .cards div:nth-child(2) p {
  margin-top: 0;
  width: 80px;
  height: 1px;
  color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #EB3300FF;
}

.orora-cards-block .cards div:nth-child(3) {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  padding-bottom: 80px;
}

.orora-cards-block li {
  position: relative;
}

.orora-cards-block [data-align="center"] {
  position: absolute;
  bottom: 0;
  width: calc(100% - 32px);
}

.orora-cards-block [data-align="center"] a {
  width: 90%;
}

.orora-process-columns-block h4 {
  text-align: center;
}

.orora-process-columns-block a {
  color: #443f3f;
  font-size: 18px;
  font-family: center-bold;
}

.orora-process-columns-block picture {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 150px;
}

.orora-resources-columns-block {
  text-align: center;
}

.orora-resources-columns-block picture {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 125px;
}

.orora-resources-columns-block h3 {
  font-size: 22px;
  font-family: center-bold;
}

.orora-resources-columns-block h4 {
  font-size: 36px;
  font-family: Roboto;
  font-weight: 900;
}

.orora-resources-columns-block > div > div:nth-child(1) h4 {
  color: #7E5475;
}

.orora-resources-columns-block > div > div:nth-child(2) h4 {
  color: #589199;
}

.orora-resources-columns-block > div > div:nth-child(3) h4 {
  color: #a30050;
}

.orora-resources-columns-block > div > div:nth-child(4) h4 {
  color: #69923a;
}

@media (max-width: 900px) {
  .orora-cookie-block h5 {
    display: block;
    text-align: left;
    margin-left: 10px;
  }

  .orora-cookie-block h6 {
    display: inline-block;
    margin: 0;
    width: 45%;
  }

  .orora-cookie-block h6 a {
    width: 90%;
    display: block;
  }

  .orora-carousel-block {
    text-align: center;
  }

  .orora-carousel-block h2 {
    font-size: 50px;
    width: 100%;
    left: initial;
  }

  .orora-carousel-block h3 {
    top: 55%;
    font-size: 28px;
    left: initial;
  }
}

@media (max-width: 620px) {
  .orora-cookie-block h6 {
    display: block;
    width: 90%;
    margin-left: 10px;
    margin-top: 5px;
  }

  .orora-cookie-block h6 a {
    width: 100%;
  }
}