/* block specific CSS goes here */

.herocarousel-container .herocarousel-wrapper {
    margin: 0;
    max-width: 100%;
}

.herocarousel {
    white-space: nowrap;
    margin-top: -25%;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
}

.herocarousel div {
    max-width: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    white-space: initial;
}

.herocarousel picture {
    width: 100%;
    scroll-snap-align: center;
    display: inline-block;
}

.herocarousel img {
    width: 100%;
}

.herocarousel h2,
.herocarousel h3 {
    position: absolute;
    text-shadow: 2px 2px black;
    color: #ffffff;
}
.herocarousel h2 {
    top: 35%;
    left: 10%;
    font-size: 90px;
}

.herocarousel h3 {
    top: 50%;
    left: 10%;
    font-size: 50px;
}

.herocarousel_nav {
    margin-top: -70px;
    margin-left: 40%;
}

.herocarousel_nav li {
    display: inline-block;
    margin-left: 5px;
}

.herocarousel_nav a {
    color: transparent;
    background-color: #ffffff;
    opacity: 0.75;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
}

.herocarousel_nav a.active {
    opacity: 0.99;
}

.herocarousel img {
    object-fit: cover;
    width: 100%;
    height: 1119px;
}

@media (max-width: 900px) {
    .herocarousel {
        text-align: center;
    }

    .herocarousel img {
        height: 756px;
    }

    .herocarousel h2 {
        font-size: 50px;
        width: 100%;
        left: initial;
    }

    .herocarousel h3 {
        top: 55%;
        font-size: 28px;
        left: initial;
    }
}